**/.env
**/config/
**/cache/
**/data/
**/downloads/

# home-assistant service runtime data
home-assistant/adb-keys/
home-assistant/esphome/
home-assistant/grafana/
home-assistant/influxdb/
home-assistant/influxdb2/
home-assistant/telegraf/

# immich service runtime data
immich/library/
immich/postgres/

# misc
info.txt
