**/.env
**/config/
**/cache/
**/data/
**/downloads/

# home-assistant service runtime data
home-assistant/mosquitto/passwd
home-assistant/zigbee2mqtt/*.db
home-assistant/zigbee2mqtt/*.json
home-assistant/zigbee2mqtt/log/
home-assistant/adb-keys/
home-assistant/esphome/
home-assistant/grafana/
home-assistant/influxdb/
home-assistant/influxdb2/
home-assistant/telegraf/

# scrutiny service runtime data
scrutiny/influxdb/

# immich service runtime data
immich/library/
immich/postgres/

# misc
info.txt
