##############################################
#                   Global
##############################################
TZ=America/Paramaribo

##############################################
#                   PGADMIN
##############################################
PGADMIN_DEFAULT_EMAIL=email@example.com
PGADMIN_DEFAULT_PASSWORD=123
PGADMIN_CONFIG_CONSOLE_LOG_LEVEL=10
# PGADMIN_ENABLE_TLS=1

##############################################
#                   POSTGRES
##############################################
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

##############################################
#                    MAYBE
##############################################
MAYBE_POSTGRES_DB=maybe
SECRET_KEY_BASE=
SELF_HOSTED=true
RAILS_FORCE_SSL=false
RAILS_ASSUME_SSL=false
DB_HOST=postgres
DB_PORT=5432
REDIS_URL=redis://redis:6379/1
# NOTE: enabling OpenAI will incur costs when you use AI-related features in the app (chat, rules).  Make sure you have set appropriate spend limits on your account before adding this.
OPENAI_ACCESS_TOKEN=

##############################################
#                   N8N
##############################################
DB_POSTGRESDB_USER=postgres
DB_POSTGRESDB_PASSWORD=postgres123
GENERIC_TIMEZONE=America/Paramaribo
WEBHOOK_URL=https://n8n.ragnarokreinier.network

##############################################
#                   Homarr
##############################################
SECRET_ENCRYPTION_KEY=

##############################################
#                  Immich
##############################################
# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=./immich/library

# The location where your database files are stored. Network shares are not supported for the database
DB_DATA_LOCATION=./immich/postgres

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION=release
DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
DB_HOSTNAME=immich-database
REDIS_HOSTNAME=immich-redis

##############################################
#                 Jellyfin
##############################################
JELLYFIN_URL=http://example.com
PUID=1000
PGID=1000

##############################################
#                 Pi-Hole
##############################################
# Set a password to access the web interface. Not setting one will result in a random password being assigned
FTLCONF_webserver_api_password=
FTLCONF_webserver_domain=yournet.com
FTLCONF_webserver_port=8080
# Only if you have custom dnsmasq config files that you want to persist
# FTLCONF_misc_etc_dnsmasq_d=true
# If using Docker's default `bridge` network setting the dns listening mode should be set to 'all'
# FTLCONF_dns_listeningMode=all
FTLCONF_dns_upstreams=8.8.8.8;8.8.4.4
FTLCONF_dns_domain=yournet.com
