TZ=America/Paramaribo

##############################################
#                 Pi-Hole
##############################################
# Set a password to access the web interface. Not setting one will result in a random password being assigned
FTLCONF_webserver_api_password=your-secure-password
FTLCONF_webserver_domain=yourdomain.com
FTLCONF_webserver_port=8081
# Only if you have custom dnsmasq config files that you want to persist
# FTLCONF_misc_etc_dnsmasq_d=true
# If using Docker's default `bridge` network setting the dns listening mode should be set to 'all'
# FTLCONF_dns_listeningMode=all
FTLCONF_dns_upstreams=8.8.8.8;8.8.4.4
FTLCONF_dns_domain=yourdomain.com