services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    network_mode: host
    env_file:
      - path: .env
        required: true
    volumes:
      - ./config:/config
      # Bluetooth
      - /run/dbus:/run/dbus:ro
      - /dev/bus/usb:/dev/bus/usb
    restart: unless-stopped
    privileged: true

  adb:
    image: devicefarmer/adb:latest
    container_name: adb
    network_mode: host
    env_file:
      - path: .env
        required: true
    volumes:
      - ./adb-keys:/root/.android
    restart: unless-stopped

  esphome:
    image: ghcr.io/esphome/esphome:latest
    container_name: esphome
    network_mode: host
    env_file:
      - path: .env
        required: true
    volumes:
      - ./esphome:/config
    restart: unless-stopped
    privileged: true
    init: true
