services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    network_mode: host
    env_file:
      - path: .env
        required: true
    volumes:
      - ./config:/config
      # Bluetooth
      - /run/dbus:/run/dbus:ro
      - /dev/bus/usb:/dev/bus/usb
    restart: unless-stopped
    privileged: true

  adb:
    image: devicefarmer/adb:latest
    container_name: adb
    network_mode: host
    env_file:
      - path: .env
        required: true
    volumes:
      - ./adb-keys:/root/.android
    restart: unless-stopped

  esphome:
    image: ghcr.io/esphome/esphome:latest
    container_name: esphome
    network_mode: host
    env_file:
      - path: .env
        required: true
    volumes:
      - ./esphome:/config
    restart: unless-stopped
    privileged: true
    init: true

  influxdb:
    image: influxdb:2
    container_name: influxdb
    ports:
      - 8086:8086
    env_file:
      - path: .env
        required: true
    volumes:
      - ./influxdb:/var/lib/influxdb
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - 3000:3000
    depends_on:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_USERS_DEFAULT_THEME=dark
    env_file:
      - path: .env
        required: true
    volumes:
      - ./grafana:/var/lib/grafana
    restart: unless-stopped

    telegraf:
    image: telegraf:latest
    container_name: telegraf
    hostname: ${HOSTNAME}
    network_mode: host
    cap_add:
      - NET_RAW
    environment:
      - HOST_PROC=/host/proc
      - HOST_SYS=/host/sys
      - HOST_ETC=/host/etc
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc:/host/etc:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

