TZ=America/Paramaribo

##############################################
#                  DIUN
##############################################
LOG_LEVEL=info
LOG_JSON=false

# Check all running Docker containers for available image updates.
DIUN_WATCH_WORKERS=20
DIUN_WATCH_SCHEDULE=0 */6 * * *
DIUN_WATCH_JITTER=30s
DIUN_WATCH_RUNONSTARTUP=true
DIUN_PROVIDERS_DOCKER=true
DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true

# Send update notifications to the local ntfy service.
DIUN_NOTIF_NTFY_ENDPOINT=http://ntfy
DIUN_NOTIF_NTFY_TOPIC=homelab-alerts
DIUN_NOTIF_NTFY_PRIORITY=3
DIUN_NOTIF_NTFY_TAGS=package

# Optional if ntfy auth is enabled.
# DIUN_NOTIF_NTFY_TOKEN=tk_replace_me
