services:
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    restart: unless-stopped
    environment:
      - WATCHTOWER_CLEANUP=true  # Removes old images after updating.
      - WATCHTOWER_REMOVE_VOLUMES=true  # Removes anonymous volumes after updating.
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
